hr {
  margin: 1rem 0;
}

span {
  color: red;
}

%case {
  width: 12.5%;
  height: 12.5%;
}

.echiquier {
  margin: 1rem;
  width: 800px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  border: solid;

  .case_white {
    @extend %case;
    background-color: white;
  }

  .case_black {
    @extend %case;
    background-color: black;
  }
}

nav {
  margin: 1rem 0;
  ul {
    display: flex;
    gap: 0.5rem;
    li {
      cursor: pointer;
      padding: 1rem;
      background-color: pink;
    }
  }
}

.selected {
  color: white;
  background-color: purple;
}

.content_green {
  position: relative;
  overflow: hidden;
  border: solid green 1rem;
  width: 50rem;
  height: 50rem;

  img {
    position: absolute;
    transition: 800ms ease-out;
  }
}
